body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

#musicGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;
}

.music-button {
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
}

.music-button:hover {
    transform: scale(1.1);
}
